.card {
    width: 300px;
    height: 400px;
    background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;   
    border-radius: 20px;
    padding: 15px;
}

p {
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border-radius: 50%;
}

.card h3 {
    margin-top: 40px;    
    margin-bottom: 0;    
    text-align: center;  
    width: 100%;         
}
.card button {
    width: 50%;
    height: 40px;
    background-color: blue;
    color: white;
    margin-top: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

