.card-container {
    width: 100%;
    height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
   
}